:root {
    /*font sizes*/
    --text-small: 12px;
    --text-medium: 18px;
    --text-big: 28px;

    /*colors*/
    --gray: #808080;
    --white: #FFF;
    --black: #000
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}